# Flutter
**/build/
**/.dart_tool/

# Node
**/node_modules/
**/.env

# IDE
**/.idea/
**/.vscode/

# OS
Thumbs.db
.DS_Store

# Firebase config
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
